<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <link href='http://fonts.googleapis.com/css?family=Prata' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Maven+Pro:500,700' rel='stylesheet' type='text/css'>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <header>
        <div class="top-headline">
            <a style="outline:none; text-decoration:none" href="@Url.Action("Index","Home")"><img src="~/Images/Logo/Olive%20Invest%20Logo.png" /></a>
            <div class="Language">
            </div>
        </div>
        <nav>
            <ul id="menuitems">
                @*/prime reale estate, pontus montenegro oliv invest, montenegro reale estate /*@
                <li><a href="@Url.Action("Index","Home")">HOME</a></li>
                <li><a class="menuitem" href="@Url.Action("Index","AboutUs")">ABOUT US</a></li>
                <li><a class="menuitem" href="@Url.Action("Index","CurrentDevelopment")">CURENT DEVELOPMENT</a></li>
                <li><a class="menuitem" href="@Url.Action("Index","FutureDevelopments")">FUTURE DEVELOPMENTS</a></li>
                <li><a class="menuitem" href="@Url.Action("Index","DestinationBokaBay")">DESTINATION BOKA BAY</a></li>
                <li><a class="menuitem" href="@Url.Action("Index","ContactUs")">CONTACT US</a></li>
            </ul>
        </nav>
    </header>
    <div id="body">
        @RenderBody()
    </div>
    <footer>
        <ul>
            <li><img src="~/Images/Icons/Phone.png" />+382 67 914 8277</li>
            <li><img src="~/Images/Icons/Email.png" />info@oliveinvest.com</li>
            <li><img src="~/Images/Icons/Location.png" />Šetalište Iva Vizina, 85320, Tivat, Montenegro</li>
        </ul>
    </footer>
    <script>
        $('.menuitem').each(function () {
            if (this.href == window.location.href) {
                $(this).addClass("activemenu");
            }
        });
    </script>
</body>

</html>
